hidden=[".config"]
modules = ["web", "python-3.12", "docker"]
run = "python app.py"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
