
<div class="homepage-container">
    <section class="homepage-section" id="top-songs">
        <h2>Your Top Songs</h2>
        <div class="item-grid">
            <!-- Items will be populated by JavaScript -->
        </div>
    </section>
    <section class="homepage-section" id="recently-played">
        <h2>Recently Played</h2>
        <div class="item-grid">
            <!-- Items will be populated by JavaScript -->
        </div>
    </section>
    <section class="homepage-section" id="favorite-artists">
        <h2>Your Favorite Artists</h2>
        <div class="item-grid">
            <!-- Items will be populated by JavaScript -->
        </div>
    </section>
</div>
<h1 id="searchResultsHeading" style="display: none;"> Search Results:</h1>
<div class="search-results" id="search-results"> </div>