@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* CSS Variables for Themes */
:root {
    --background-color: #f0f4f8;
    --container-bg: linear-gradient(135deg, #ffffff, #dbeafe);
    --container-shadow: rgba(0, 0, 0, 0.1);
    --button-bg: linear-gradient(135deg, #6ec1e4, #367fa9);
    --button-hover-bg: #285e8e;
    --text-color: #2c3e50;
    --lesson-content-bg: #ffffff;
    --lesson-content-shadow: rgba(0, 0, 0, 0.1);
    --img-border-color: #bdc3c7;
    --scrollToTopButton: rgba(41, 128, 185, 0.7);
    --theme-col: #2d4bf0;
}

body.dark-mode {
    --background-color: #121212;
    --container-bg: linear-gradient(135deg, #1f1f1f, #141414);
    --container-shadow: rgba(255, 255, 255, 0.1);
    --button-bg: linear-gradient(135deg, #3a3a3a, #2c2c2c);
    --button-hover-bg: #505050;
    --text-color: #e0e0e0;
    --lesson-content-bg: #242424;
    --lesson-content-shadow: rgba(255, 255, 255, 0.1);
    --img-border-color: #444;
    --scrollToTopButton: rgb(0, 0, 0);
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styles */
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--text-color);
}

html {
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--container-bg);
    background-attachment: fixed;
    box-shadow: 0 10px 30px var(--container-shadow), 0 20px 40px var(--container-shadow);
    padding: 20px;
}

/* Navbar styling */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
}

/* Logo styling */
.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

/* Navigation links styling */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4a98f7;
}



/* Toggle button styles */
#toggleSidebarButton {
    /* position: absolute;
    left: 20px;
    top: 20px; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    background-image: url("/static/icons/user-profile.png");
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 100; /* Ensure it's above the sidebar */
}

#toggleSidebarButton:hover {
    background-color: #555;
}

/* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px; /* Set the width of the sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Initially position the sidebar off-screen to the left */
    background-color: #333;
    overflow-x: hidden;
    transition: left 0.5s ease; /* Animate the transition */
    z-index: 1000;
    padding: 20px; /* Add padding inside the sidebar */
}

/* Account settings header styles */
.sidebar h3 {
    color: #fff;
    padding: 10px;
    font-weight: bold; /* Make the text bold */
    background-color: #444; /* Darken the background */
    border-bottom: 2px solid #555; /* Add a border below */
    margin-bottom: 20px; /* Add some margin below */
    border-radius: 5px; /* Optional: Add border radius for rounded edges */
}

/* Close button styles */
.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/* User info area styles */
#user-info {
    margin-top: 20px; /* Add margin above user info */
    padding: 10px; /* Add padding inside user info */
    background-color: #282828; /* Lighten the area behind profile picture */
    border-radius: 5px; /* Optional: Add border radius for rounded edges */
}

#user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px; /* Add margin below the profile picture */
}

#user-info p {
    color: #ccc; /* Lighten the text color */
    margin-bottom: 10px; /* Add margin below paragraphs */
}

#user-info button {
    margin-top: 10px; /* Add margin above the logout button */
}

/* Profile picture container styles */
.profile-pic {
    position: relative;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; /* Margin below profile picture */
}

.profile-pic input {
    display: none;
}

.profile-pic .-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.profile-pic:hover .-label {
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-pic span {
    display: inline-flex;
    color: #fafafa;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.profile-pic:hover span {
    opacity: 1;
}

/* Profile name editing styles */
.profile-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#userName{
    color:#ccc;
}
#userName.hidden {
    display: none;
}

.edit-icon {
    background: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.edit-icon:hover {
    color: #00bcd4; /* Change to your preferred hover color */
}

/* Styling for editable name input (hidden by default) */
#editNameInput {
    display: none;
    min-width: 150px; /* Adjusted to be more spacious */
    width: calc(100% - 120px); /* Adjusted to fit well within the container */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px; /* Space between input and save button */
}

#saveNameBtn {
    display: none;
    background-color: #00bcd4; /* Change to your preferred button color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#saveNameBtn:hover {
    background-color: #0097a7; /* Darker shade for hover */
}







/* Toggle Switch */
.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
}

.sun-icon {
    left: -30px;
    color: #ffcc00;
    display: none; /* Initially hidden */
}

.moon-icon {
    left: -30px;
    color: #f1c40f;
}

/* Show sun icon in dark mode */
body.dark-mode .sun-icon {
    display: inline;
}

body.dark-mode .moon-icon {
    display: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .switch {
        width: 50px;
        height: 30px;
    }

    .slider:before {
        height: 22px;
        width: 22px;
        left: 4px;
        bottom: 4px;
    }

    .sun-icon, .moon-icon {
        font-size: 18px;
    }

    .sun-icon {
        left: -25px;
    }

    .moon-icon {
        left: -25px;
    }
}

@media (max-width: 480px) {
    .switch {
        width: 40px;
        height: 24px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
    }

    .sun-icon, .moon-icon {
        font-size: 16px;
    }

    .sun-icon {
        left: -20px;
    }

    .moon-icon {
        left: -20px;
    }
}

/* responsive for top nav bar*/
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
}
/* Responsive Adjustments for Mobile */
/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the elements */
        padding: 10px 15px;
        position: relative; /* To ensure absolute positioning of the toggle button works */
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 10px; /* Add space between logo and links */
        text-align: center; /* Ensure text is centered */
    }

    #toggleSidebarButton {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 35px;
        width: 35px;
    }

    .nav-links {
        display: flex;
        justify-content: center; /* Center the links horizontally */
        gap: 15px; /* Space between the links */
        width: 100%;
        margin-bottom: 10px; /* Add space below the links */
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #4a98f7;
    }

    .switch {
        position: absolute;
        top: 10px;
        right: 10px;
        transform: translate(0, 0); /* Reset any previous transform */
    }
}



/* Spinner */
.spinner {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 768px) {
    .lesson-menu {
        flex-direction: column;
        align-items: center;
    }
}

/* Full-screen overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out; /* Optional: smooth transition */
    opacity: 1;
}

/* Hide the overlay */
.overlay.hidden {
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the overlay when hidden */
}

/* Loader container */
.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
}

/* Loader squares animation */
@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }
    10.5% {
        left: 0;
        top: 0;
    }
    12.5% {
        left: 32px;
        top: 0;
    }
    23% {
        left: 32px;
        top: 0;
    }
    25% {
        left: 64px;
        top: 0;
    }
    35.5% {
        left: 64px;
        top: 0;
    }
    37.5% {
        left: 64px;
        top: 32px;
    }
    48% {
        left: 64px;
        top: 32px;
    }
    50% {
        left: 32px;
        top: 32px;
    }
    60.5% {
        left: 32px;
        top: 32px;
    }
    62.5% {
        left: 32px;
        top: 64px;
    }
    73% {
        left: 32px;
        top: 64px;
    }
    75% {
        left: 0;
        top: 64px;
    }
    85.5% {
        left: 0;
        top: 64px;
    }
    87.5% {
        left: 0;
        top: 32px;
    }
    98% {
        left: 0;
        top: 32px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

/* Loader squares */
.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(1) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -8.5714285714s;
}



/*Footer*/
/* General Footer Styles */
footer {
    background-color: #111010;
    color: white;
    padding: 2rem 4rem;
}

.f-item-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer .app-name {
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    font-weight: 700;
}

.app-name .app-initial {
    color: var(--theme-col);
}

footer .app-info p {
    padding-left: 1.65rem;
}

footer .footer-title {
    font-size: 1.25rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
}

footer ul {
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

footer ul li {
    margin: 0.25rem 0;
    cursor: pointer;
    color: #d4d4d4;
}

footer ul li:hover {
    color: white;
}

footer .help-sec {
    grid-column-start: 2;
}

footer .cr-con {
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

.g-i-t {
    display: grid;
    grid-column-start: 3;
}

.g-i-t form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

/* Responsive Footer Styles */
@media (max-width: 992px) {
    .f-item-con {
        grid-template-columns: 1fr 1fr;
    }

    .g-i-t {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 1.5rem 2rem;
    }

    .f-item-con {
        grid-template-columns: 1fr;
    }

    .app-name {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .footer-title {
        font-size: 1.125rem;
    }

    footer .app-info p {
        padding-left: 1rem;
    }
}

@media (max-width: 576px) {
    .btn-primary {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.875rem;
    }

    .footer-title {
        font-size: 1rem;
    }

    .app-name {
        font-size: 1.25rem;
    }

    .footer {
        padding: 1rem;
    }
}
